# Ignore environment variable files
.env
.env.local
.env.*.local

# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
logs/**/*.log

# Editor settings
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# puppeteer
.cache